{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}
{% load martortags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ document|safe_markdown }}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>  
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>  
{% endblock %}